#root{
  margin: 0;
  padding: 0;
}
#text{
  text-align: center;
  border-bottom: 1px solid grey ;
}

#Project-working{
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-content: center;
  justify-content: space-around;
}